$color-font:#555555;

.props-title-filter{
    font-size: 12px !important;
    color: $color-font;
}

.props-description-filter{
    font-size: 11px !important;
    line-height: 14px !important;
    color: $color-font;
}

