.sentFilterButton {
  width: 80px;
  height: 20px;
  font-weight: 400 !important;
  font-size: 0.7rem !important;
  text-transform: none !important;
}

.sentFilterButtonClicked {
  font-weight: 550 !important;
}
